@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
  font-family: 'Open Sans';
}

.App {
  text-align: center;
}

.card-text {
  font-family: 'Roboto Mono';
  padding: 10px;
  border-radius: 25px;
  margin-top: 2px;
  width: 75%;
  display: flexbox;
  opacity: 0.9;
}

.card {
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
}

.card-body {
  overflow-y: auto;
  height: 500px;
}

.card-link {
  color: white;
  text-decoration-line: underline;
  /* font-weight: 700; */
}

ul {
  padding: 0 15px 0 0;
}

li {
  padding: 5px;
}

.article-link {
  color: darkslategrey;
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

aside {
  height: 100%;
  width: 25%;
  margin: 5% 1.5% 1.5% 0;
  float: right;
  bottom: 0;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 65%;
}
.news-api {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-group {
  width: 100%;
}

.btn-primary {
  border: none;
  border-color: none;
  background-color: #08aeea;
}

.btn-primary:hover {
  background-color: #08aeea;
  -webkit-animation: pulse 1.5s infinite;
}

#formBasicEmail {
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typing {
  display: block;
  width: 60px;
  height: 40px;
  background-color: #bdbdbd;
  margin-left: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #757575;
  margin: 3px;
  animation: bounce 1000ms ease-in-out;
  -webkit-animation: bounce 1000ms ease-in-out;
  -o-animation: bounce 1000ms ease-in-out;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.circle:nth-child(1) {
  animation-delay: 0ms;
}

.circle:nth-child(2) {
  animation-delay: 333ms;
}

.circle:nth-child(3) {
  animation-delay: 666ms;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

#btn-show-bot {
  margin: 20px;
  width: 80px;
  height: 80px;
  font-family: 'Roboto Mono';
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 50%;
  animation: shadow-pulse 2s infinite;
}

#chat-window {
  bottom: 10;
  margin-top: 10px;
}

.chat-window-btn {
  position: absolute;
  bottom: 0;
  left: 50;
  margin: auto;
  font-size: '50px';
  cursor: 'pointer';
}
